<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_area :text, :rows => "15", :class => "xxlarge"%>
  <div class="actions">
    <%= f.submit "Generate acronym table", :disable_with => 'Acronymsing...', :class => "btn primary large" %>
  </div>
<% end %>
