<p id="notice"><%= notice %></p> 
                                 
<h1>Table of acronyms</h1>

<table>
  <tr>
    <th>Acronym</th>
    <th>Definition</th>

  </tr>

<% @results.each do |result| %>
  <tr>
    <td><%= result.abbreviation %></td>
    <td>
      <% if result.definition == "Unknown" %>
        <%= link_to "Add unknown", edit_acronym_path(result) %> 
        <%= link_to "Not an acronym", result, confirm: 'Are you sure?', method: :delete %>
        <% else %>
      <%= link_to result.definition, edit_acronym_path(result) %>  
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Request', new_request_path %>
